<div class="todo-item" (click)="onTodoClicked()" [class.completed]="todo.completed">
  <div class="check-box">
    <i class="material-icons">check</i>
  </div>

  <div class="todo-text">
    {{ todo.text }}
    <small *ngIf="todo.status" class="badge rounded-pill bg-info text-dark chips-status">{{ todo.status }}</small>
  </div>

  <div class="todo-controls-box" appToolTipSingleton (click)="$event.stopPropagation()">
    <div class="todo-control-button" appToolTip="Edit Todo" (click)="onEditClicked()">
      <i class="material-icons">Edit</i>
    </div>

    <div class="todo-control-button is-danger" appToolTip="Delete Todo" (click)="onDeleteClicked()">
      <i class="material-icons">Delete</i>
    </div>
  </div>
</div>
